.jumbotron{
    background-color: #010202;
    color: rgb(245, 240, 236);
}
.jumbotron p{
    color: rgb(245, 240, 236);
}
.well{
    background-color:#040a0a;
    color: rgb(245, 240, 236);
}